
<% include ../partials/head %>


<section class="hero is-dark">
  <div class="hero-body">

      <% include ../partials/nav %>

  </div>
</section>

          <section class="section" style="background:rgb(245,245,245)">

            <div class="container">

              <h1 class="title">Enviar Token</h1>
              <div class="columns">

                <div class="column">

                    <form class="control" action="/sendToken" method="POST">

                      <div class="field">
                        <div class="control">
                          <label for="">Desde</label>
                          <!-- <input class="input" activate="false" type="text" value="<%= direccion %>" disabled="disabled">-->
                          <article class="message is-grey"> 
                              <div class="message-body">
                                  <p>
                                    <strong><%= direccion %></strong>
                                  </p>
                            </div>
                          </article>
                        
                        </div>
                      </div>

                        <div class="field">
                          <label  class="label" for="name">Para</label>
                          <p class="control has-icons-left">
                            <input class="input" activate="false" pattern="0x([A-Za-z0-9]){40}" minlength="42" maxlength="42" title="direccion incorrecta por favor introduca una direccion valida" type="text" name="to" required>
                            <span class="icon is-small is-left">
                              <i class="fab fa-ethereum"></i>    
                            </span>  
                          </p>
                        </div>
                      <label for="">Monto</label> 
                      <div class="field has-addons">
                        
                          
                        <p class="control">
                          <span class="select">

                              <select name="address">
                              
                              <% for(let i=0;i < data.length; i++){ %>

                                    <option value= <%=data[i].dir_mon %>>
                                      <%=data[i].cod_mon%>
                                    </option>

                              <%  } %>

                            </select>
                            
                          </span>
                        </p>
                        <p class="control is-expanded">
                          <input class="input" type="number" min=0 step="any" placeholder="Monto" name="amount" required>
                        </p>
                        <p class="control">
                          <input class="button is-success" type="submit" value="Enviar">
                        </p>
                      </div>
                        
                    </form>
                    <hr>
                    <% if(SuccessMessage.length > 0) {%>
                      <div id="notification" class="notification is-success">
                        <button onclick="closeNoti()" class="delete"></button>
                        <%= SuccessMessage %>
                        <div><button class="button">Transacciones</button></div>
                      </div>  
                    <% } %>

                    <% if(ErrorMessage.length > 0) {%>
                      <div id="notification" class="notification is-danger">
                        <button onclick="closeNoti()" class="delete"></button>
                        <%= ErrorMessage %>
                      </div>  
                    <% } %> 
                </div>

                <div class="column">
                  <div>

                  </div>
                </div>

                  
              </div>
              
            </div>

          </section>
            <script>

              const closeNoti= ()=>{
                let div=document.getElementById('notification');
                div.style.display="none"
              }

            </script>
         
<% include ../partials/footer %>