
<% include partials/head %>


<section class="hero is-dark">
<div class="hero-body">

    <nav class="navbar" role="navigation" aria-label="main navigation">
    
        <div class="navbar-brand">
            <figure>
              <img style="width:50px" src="/images/ethereum-grey.png" alt="ethereum-logo">
            </figure>
            <a class="navbar-item" style="color:dark;font-weight: bold;font-size:15px" href="/">
              <!--<img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">-->
              V-WALLET
            </a>
            <a role="button" class="navbar-burger" onclick="toggleBurger()" id="burguer" aria-label="menu" aria-expanded="true">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu" id="teamList">

          <div class="navbar-end">
              <div class="navbar-item has-dropdown is-hoverable" style="color:dark">
                  <a class="navbar-link">
                    <%= user.nombre %>
                  </a>
          
                  <div class="navbar-dropdown">
                    <a href="/wallet" class="navbar-item">
                      Wallet
                    </a>
                    <a class="navbar-item">
                      Perfil
                    </a>
                    <a class="navbar-item">
                      Contact
                    </a>
                    <hr class="navbar-divider">
                    <a href="/logout" class="navbar-item">
                      Cerrar Sesion
                    </a>
                  </div>
                </div> 
                <!-- <div class="dropdown is-hoverable">
                    <div class="dropdown-trigger">
                      <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
                        <span>Hover me</span>
                        <span class="icon is-small">
                          <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                      </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                      <div class="dropdown-content">
                        <div class="dropdown-item">
                          <p>You can insert <strong>any type of content</strong> within the dropdown menu.</p>
                        </div>
                      </div>
                    </div>-->
          </div>
            
        </div>
          
        </div>
        
      
    </nav>
</div>
</section>

<section class="section">

    <div class="column is-half is-offset-one-quarter">

        <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                Bienvenido
              </p>
            </header>
            <div class="card-content">
              <div class="content">

                Bienvenido <%= user.nombre %>
              
              </div>
            </div>
           
          </div>
        
    </div>

  </section>


  <section id="transactions" class="section">

      <div class="container is-fullwidth">
                
          <h1 class="title" style="text-align:center">Transacciones</h1>
              <table class="table is-fullwidth is-striped is-hoverable is-bordered">
                  <thead class="thead">
                      <tr>
                          <th>Codigo</th>
                          <th>Monto</th>
                          <th>Fecha</th>
                          <th>Hash de Transaccion</th>
                      </tr>
                  </thead>
                          
                  <tbody class="tbody">
                      <% data.forEach(row=>{ %>
                        <tr>
                            <td><%= row.cod_cri %></td>
                            <td><%= row.mon_tra %></td>
                            <td><%= row.fec_tra %></td>
                            <td><%= row.has_tra %></td>
                        </tr>
                    <%  }) %>
    
                  </tbody>
              
              </table>
      </div>


  </section>
   
    
<% include partials/footer %>