<% include partials/head %>
   
<section class="hero is-dark">
      <div class="hero-body">
          <nav class="navbar" role="navigation" aria-label="main navigation">
          
              <div class="navbar-brand">
                  <figure>
                    <img style="width: 50px" src="/images/logo.png" alt="ethereum-logo">
                  </figure>
                  <a class="navbar-item" style="color:white;font-weight: bold;font-size:15px" href="/login">
                    V-EXCHANGE
                  </a>

                  <a role="button" class="navbar-burger" onclick="toggleBurger()" id="burguer" aria-label="menu" aria-expanded="true">
                      <span aria-hidden="true"></span>
                      <span aria-hidden="true"></span>
                      <span aria-hidden="true"></span>
                  </a>
                  
              </div>
            <div class="navbar-menu" id="teamList">
                
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a href="/login" class="button is-primary">
                              <strong>Ingresar</strong>
                            </a>
                            <a href="/signup" class="button is-light">
                              Registrarse
                            </a>
                        </div>
                    </div>
                </div>
            </div>
          </nav>
      </div>
</section>

<section class="section coin-watcher">
    <div class="container is-fullwidth">
                
        <h1 class="title">Principales criptomonedas del mercado</h1>
            <table class="table container">
                <thead class="thead">
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Simbolo</th>
                        <th>Valor($USD)</th>
                        <th>Valor(BTC)</th>
                    </tr>
                </thead>
                        
                <tbody class="tbody">
                                
                    <% let i=0;for(let prop in cripto.data){ %>
                        <tr>
                            <td> <%= ++i %></td>
                            <td><img src="https://s2.coinmarketcap.com/static/img/coins/16x16/<%= prop %>.png" alt=""> <%= cripto.data[prop].name %></td>
                            <td><%= cripto.data[prop].symbol %></td>
                            <td><%= Math.round(cripto.data[prop].quotes.USD.price * 100)/100 %></td>
                            <td><%= cripto.data[prop].quotes.BTC.price %></td>
                        </tr>
                    <%  } %>
                </tbody>
            
            </table>
    </div>
</section>
    


<% include partials/footer %>